@import url('https://fonts.googleapis.com/css?family=Rajdhani:400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    font-smooth: always;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
}

.title2 {
    font-family: "Rajdhani", sans-serif;
    font-weight: lighter;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    overflow: hidden;
    font-family: "Rajdhani", sans-serif;
    background-color: white;
    color: black;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.fog {
    mix-blend-mode: screen;
    animation-name: fadeFog;  /* You can chain multiple animations */
    animation-timing-function: linear;  /* Or any other easing function */
    opacity: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

#imageToScale {
    transition: transform 0.3s ease; /* 0.3s is the duration of the transition; you can adjust it */
}

@keyframes fadeFog {
    0% {
        opacity: 95%;  /* Start fully transparent */
    }
    50% {
        opacity: 75%;  /* Midway, become fully opaque */
    }
    100% {
        opacity: 0;  /* End fully transparent */
    }
}

.fadeOut {
    animation-name: fadeCloud;
    animation-duration: 2s;  /* Adjust duration as needed */
    animation-fill-mode: forwards;  /* Ensures the end state (opacity: 0) of the animation is retained */
}

.z-0 {
    z-index: -999;
    overflow: hidden;
}

.z-10 {
    z-index: 10;
}

.separator-pin {
    scale: 200%;
    position: absolute;
    top: 63%;
    left: 46%;
    transform: translate(-50%, -50%);
    opacity: 75%;
    display: flex;
}

.separator-pin .btn {
    width: 50px;
    height: 50px;
    position: absolute;
    visibility: visible;
    bottom: -10px;
    border: rgba(0,0,0,0);
    background-color: rgba(255,255,255,0);
}

.separator-pin .pin {
    transform-origin: bottom;
    position: absolute;
    transition: transform 250ms;
}

.separator-pin .pin:hover {
    transform: scale(90%);
    transform-origin: bottom;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cloud {
    position: absolute;
    animation: fallThrough 5s linear infinite;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

@keyframes fallThrough {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* You can adjust the starting position and animation duration for individual clouds */
#cloud1 {
    left: 10%;
    animation-delay: 1s;
}

#cloud2 {
    left: 50%;
    animation-delay: 2s;
}

#cloud3 {
    right: 50%;
    animation-delay: 3s;
}

#cloud4 {
    right: 25%;
    animation-delay: 2s;
}

#cloud5 {
    left: 0%;
    animation-delay: 1s;
}

#cloud6 {
    right: 50%;
    animation-delay: 2s;
}

#cloud7 {
    left: 50%;
    animation-delay: 3s;
}

#cloud8 {
    left: 25%;
    animation-delay: 2s;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
    --glow-margin: 70px;
    filter: brightness(1000%) drop-shadow(0 0 75px rgb(255, 0, 0));
    font-smooth: always;
}
header nav {
    position: relative;
}
header nav .navigation-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav .navigation-menu li {
    position: relative;
    --glow-margin: 70px;
    filter: brightness(1000%) drop-shadow(0 0 75px rgb(255, 0, 0));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
}
header nav .navigation-menu li a {
    position: relative;
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 1rem 2rem;
    text-wrap: none;
    font-size: 1.25em;
}
.logo{
    width: 75px;
    height: auto;
    --glow-margin: 70px;
    filter: brightness(500%) drop-shadow(0 0 75px rgb(255, 255, 255));
    background-color: rgba(255, 255, 255, 0);
    mix-blend-mode: screen;
    background-blend-mode: screen;
}
header nav .navigation-menu li.extends a::after {
    content: ">";
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 0.5rem;
    padding-bottom: 3px;
    vertical-align: middle;
    font-size: 10px;
}
header nav .navigation-menu li:not(.extends) a::after {
    content: "";
}
header nav .navigation-menu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
    --glow-margin: 70px;
    filter: blur(1.5rem) brightness(1000%) drop-shadow(0 0 75px rgb(255, 0, 0));
}
header nav .navigation-menu li ul li {
    position: unset;
}
header nav .navigation-menu li ul li a::after {
    transform: rotate(0deg) !important;
}
header nav .navigation-menu li ul li ul {
    left: 100%;
    top: 0;
    min-height: 100%;
    mix-blend-mode: overlay;
    background-blend-mode: overlay;
}
header nav .navigation-menu li:hover {
    background-color: rgba(255, 0, 0, 0.75);
    mix-blend-mode: screen;
    background-blend-mode: screen;

}
header nav .navigation-menu li:not(:hover) ul {
    display: none;
}

.glowing-background {
    z-index: 11;
    text-align: center;
    opacity: 100%;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    --glow-margin: 70px;
    filter: brightness(75%) drop-shadow(0 0 75px rgb(255, 255, 255));
}
.glowing-background:hover {
    color: black;
}


/* DARK MODE */

body.dark-mode {
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    overflow: hidden;
    font-family: "Rajdhani", sans-serif;
    background-color: black;
    color: white;
}

header.dark-mode {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
    --glow-margin: 70px;
    filter: brightness(250%) drop-shadow(0 0 75px rgb(255, 0, 0));
    font-smooth: always;
}
header.dark-mode nav .navigation-menu li a {
    position: relative;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 2rem;
    text-wrap: none;
    font-size: 1.25em;
    --glow-margin: 70px;
    filter: brightness(1000%) drop-shadow(0 0 75px rgb(255, 0, 0));
}
header.dark-mode nav .navigation-menu li a:hover {
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem 2rem;
    text-wrap: none;
    font-size: 1.25em;
    --glow-margin: 70px;
    filter: brightness(1000%) drop-shadow(0 0 75px rgb(255, 0, 0));
}
header.dark-mode nav .navigation-menu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    background-color: rgba(37, 46, 49, 0);
    box-shadow: 0 0 20px #0003;
    mix-blend-mode: overlay;
    background-blend-mode: overlay;
    --glow-margin: 70px;
    filter: brightness(1000%) drop-shadow(0 0 75px rgb(255, 0, 0));
}
header.dark-mode nav .navigation-menu-mode li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    mix-blend-mode: overlay;
    background-blend-mode: overlay;
    --glow-margin: 70px;
    filter: brightness(1000%) drop-shadow(0 0 75px rgb(255, 0, 0));
}
header nav .navigation-menu li:not(:hover) ul {
    display: none;
}

.glowing-background.dark-mode {
    z-index: 11;
    text-align: center;
    animation: darkTextColor 10s ease infinite;
    background-blend-mode: screen;
    opacity: 100%;
    width: 100%;
}
/* END DARK MODE*/

.section1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;

}
.align-center {
    align-items: center;
    vertical-align: center;
    text-align: center;
    padding: 100px;
    margin: 50px;
}

.elias-dingle {
    padding: 10px;
}

.mask {
    border-radius: 77px;
    width: 350px;
    height: 350px;
}

.background-image1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.background-image2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.background-image3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.background-image4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.background-image5 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.background-image6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

