@import url('https://fonts.googleapis.com/css?family=Rajdhani:400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    overflow: hidden;
    font-family: "Rajdhani", sans-serif;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.fog {
    mix-blend-mode: screen;
    animation-name: fadeFog;  /* You can chain multiple animations */
    animation-timing-function: linear;  /* Or any other easing function */
    opacity: 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

#imageToScale {
    transition: transform 0.3s ease; /* 0.3s is the duration of the transition; you can adjust it */
}

@keyframes fadeFog {
    0% {
        opacity: 95%;  /* Start fully transparent */
    }
    50% {
        opacity: 75%;  /* Midway, become fully opaque */
    }
    100% {
        opacity: 0;  /* End fully transparent */
    }
}

.fadeOut {
    animation-name: fadeCloud;
    animation-duration: 2s;  /* Adjust duration as needed */
    animation-fill-mode: forwards;  /* Ensures the end state (opacity: 0) of the animation is retained */
}

.z-0 {
    z-index: 0;
    overflow: hidden;
}

.z-10 {
    z-index: -999;
}

.separator-pin {
    scale: 200%;
    position: absolute;
    top: 63%;
    left: 46%;
    transform: translate(-50%, -50%);
    opacity: 75%;
    display: flex;
}

.separator-pin .btn {
    width: 50px;
    height: 50px;
    position: absolute;
    visibility: visible;
    bottom: -10px;
    border: rgba(0,0,0,0);
    background-color: rgba(255,255,255,0);
}

.separator-pin .pin {
    transform-origin: bottom;
    position: absolute;
    transition: transform 250ms;
}

.separator-pin .pin:hover {
    transform: scale(90%);
    transform-origin: bottom;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cloud {
    position: absolute;
    animation: fallThrough 5s linear infinite;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

@keyframes fallThrough {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* You can adjust the starting position and animation duration for individual clouds */
#cloud1 {
    left: 10%;
    animation-delay: 1s;
}

#cloud2 {
    left: 50%;
    animation-delay: 2s;
}

#cloud3 {
    right: 50%;
    animation-delay: 3s;
}

#cloud4 {
    right: 25%;
    animation-delay: 2s;
}

#cloud5 {
    mix-blend-mode: screen;
    min-width: 1000px;
    animation-delay: 5s;
}

#cloud6 {
    mix-blend-mode: screen;
    min-width: 1000px;
    animation-delay: 1s;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 20px #0003;
}
header nav {
    position: relative;
}
header nav .navigation-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav .navigation-menu li {
    position: relative;
}
header nav .navigation-menu li a {
    position: relative;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 2rem;
    text-wrap: none;
    font-size: 1.25em;
}
.logo{
    width: 75px;
    height: auto;
}
header nav .navigation-menu li.extends a::after {
    content: ">";
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 0.5rem;
    padding-bottom: 3px;
    vertical-align: middle;
    font-size: 10px;
}
header nav .navigation-menu li:not(.extends) a::after {
    content: "";
}
header nav .navigation-menu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    background-color: rgba(37, 46, 49, 0.75);
    box-shadow: 0 0 20px #0003;
}
header nav .navigation-menu li ul li {
    position: unset;
}
header nav .navigation-menu li ul li a::after {
    transform: rotate(0deg) !important;
}
header nav .navigation-menu li ul li ul {
    left: 100%;
    top: 0;
    min-height: 100%;
}
header nav .navigation-menu li:hover {
    background-color: rgba(37, 46, 49, 0.75);
}
header nav .navigation-menu li:not(:hover) ul {
    display: none;
}